<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> NYC Hookah App </title>
</head>
<body>

<% if @user %>
<%= @user.username %>
<form method="POST" action="/sessions">
  <input type="hidden" name="_method" value="DELETE">
  <button type="Submit">LOGOUT</button>
</form>
<% end %>

  <%= yield %>

</body>
</html>