<form  method="post" action="/sessions">
  <input type="text" name="username" id="username" placeholder="username">
  <input type="password" name="password" id="password" placeholder= "password">
  <button type="submit"> Sign In </button>
</form>