<form method="POST" action="/users">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="password" name="password_confirmation" placeholder="retype your password">
  <button type="submit"> Sign Up </button>
</form>

<a href="/users/new">Create a New User</a>